<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav">
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="/">Your Name / Site Title</a></li>
          <li class="masthead__menu-item"><a href="/publications.html">Publications</a></li>
          <li class="masthead__menu-item"><a href="/talks.html">Talks</a></li>
          <li class="masthead__menu-item"><a href="/teaching.html">Teaching</a></li>
          <li class="masthead__menu-item"><a href="/portfolio.html">Portfolio</a></li>
          <li class="masthead__menu-item"><a href="/year-archive.html">Blog Posts</a></li>
          <li class="masthead__menu-item"><a href="/cv.html">CV</a></li>
          <li class="masthead__menu-item"><a href="/markdown-guide.html">Guide</a></li>
          <li id="theme-toggle" class="masthead__menu-item">
            <a role="button" id="theme-toggle-btn" aria-label="toggle theme"><i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true" title="toggle theme"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
