<div id="main" role="main">
  <div class="sidebar">
    <div class="author__avatar">
      <img src="/images/profile.jpg" alt="Minsoo Cho">
    </div>
    <div class="author__content">
      <h3 class="author__name">Minsoo Cho</h3>
      <p class="author__bio">Ph.D. student in Economics<br>Florida State University</p>
    </div>
    <div class="author__urls-wrapper">
      <ul class="author__urls social-icons">
        <li><i class="fas fa-fw fa-location-dot icon-pad-right" aria-hidden="true"></i>Tallahassee, FL</li>
        <li><i class="fas fa-fw fa-building-columns icon-pad-right" aria-hidden="true"></i>Florida State University</li>
        <li><a href="mailto:mc23m@fsu.edu"><i class="fas fa-fw fa-envelope icon-pad-right" aria-hidden="true"></i>Email</a></li>
        <li><a href="https://scholar.google.com/citations?view_op=list_works&hl=ko&hl=ko&user=L4TO0ZYAAAAJ"><i class="ai ai-google-scholar ai-fw icon-pad-right" aria-hidden="true"></i>Google Scholar</a></li>
        <li><a href="https://orcid.org/0009-0009-3581-5051"><i class="ai ai-orcid ai-fw icon-pad-right" aria-hidden="true"></i>ORCID</a></li>
        <li><a href="https://www.linkedin.com/in/minsoo-cho-456723393"><i class="fab fa-fw fa-linkedin icon-pad-right" aria-hidden="true"></i>LinkedIn</a></li>
      </ul>
    </div>
  </div>
  <div class="content-area">
