<div id="main" role="main">
  <div class="sidebar">
    <div class="author__avatar">
      <img src="/images/profile.png" alt="Your Sidebar Name">
    </div>
    <div class="author__content">
      <h3 class="author__name">Your Sidebar Name</h3>
      <p class="author__bio">Short biography for the left-hand sidebar</p>
    </div>
    <div class="author__urls-wrapper">
      <ul class="author__urls social-icons">
        <li><i class="fas fa-fw fa-location-dot icon-pad-right" aria-hidden="true"></i>Earth</li>
        <li><i class="fas fa-fw fa-building-columns icon-pad-right" aria-hidden="true"></i>Red Brick University</li>
        <li><a href="mailto:none@example.org"><i class="fas fa-fw fa-envelope icon-pad-right" aria-hidden="true"></i>Email</a></li>
        <li><a href="https://scholar.google.com/citations?user=PS_CX0AAAAAJ"><i class="ai ai-google-scholar ai-fw icon-pad-right" aria-hidden="true"></i>Google Scholar</a></li>
        <li><a href="https://orcid.org/yourorcidurl"><i class="ai ai-orcid ai-fw icon-pad-right" aria-hidden="true"></i>ORCID</a></li>
        <li><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=john+snow"><i class="ai ai-pubmed ai-fw icon-pad-right" aria-hidden="true"></i>PubMed</a></li>
        <li><a href="https://github.com/academicpages"><i class="fab fa-fw fa-github icon-pad-right" aria-hidden="true"></i>GitHub</a></li>
        <li><a href="https://bsky.app/profile/bsky.app"><i class="fab fa-fw fa-bluesky icon-pad-right" aria-hidden="true"></i>Bluesky</a></li>
      </ul>
    </div>
  </div>
  <div class="content-area">
